body{
    margin: 0;
    padding: 0;
}

#container{
    width: 100vw;
    height: 100vh;
    background: rgb(183, 201, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginbox{
    width: 1000px;
    height: 550px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
}

#left{
    width: 50%;
    height: 100%;

}

#right{
    width: 50%;
    height: 100%;
    background: rgb(67, 67, 163);
    border-radius: 180px 20px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

p{
    width: 70%;
    font-size: 18px;
    color: #f0e7e7;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

button{
    width: 140px;
    height: 35px;
    background: rgb(67, 67, 163);
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    outline: none;

}