body{
    margin: 0;
    padding: 0;
    background: rgb(26, 25, 25);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 1400px;
    height: 800px;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#one{
    width: 600px;
    height: 80px;
    background: rgb(43, 105, 105);
    margin-top: 80px;
}
#two{
    width: 600px;
    height: 50px;
    background: rgb(52, 92, 92);
}
#three{
    width: 1200px;
    height: 420px;
    background: wheat;
    margin-top: 80px;
}